<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [4]:
# write your answer here
k=input("enter any string: ")
l=len(k)
print("The length of the entered string is:",l)

enter any string: grandhe
The length of the entered string is: 7

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [33]:
# write your answer here

def char_count(string):
  dict={}
  for i in string:
    n=dict.keys()
    if i in n:
      dict[i] += 1
    else:
      dict[i] = 1
  return dict
k=input("enter any string :")
char_count(k)

enter any string :goog

{'g': 2, 'o': 2}

(3) Write a Python program to sum all the items in a list. (2 points)

In [26]:
# write your answer here

sum=0

lis=[]
k=int(input("enter total number of items to sum : "))
for i in range(1,k+1):
  num=input()
  lis.append(num)
for m in range(0,len(lis)):
  sum=sum + int(lis[m])
print("total is",sum)

enter total number of items to sum : 5
5
5
5
5
5
total is 25

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [28]:
# write your answer here
print("enter the string")
s=str(input())
first=s[0]
s=s.replace(first,"$")
print(first+s[1:])

enter the string
revert
reve$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [32]:
# write your answer here
a=int(input("Enter a : "))
b=int(input("Enter b : "))
 
if (a > 0 and b > 0):
  s=3.14*(1+a/b)**3
else:
  print("enter values greater than 0")
print("Value of s is :",s)

Enter a : 5
Enter b : 5
Value of s is : 25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [34]:
# write your answer here

dic1={1:10,2:20}
dic2={3:30,4:30}
dic3={5:50,6:60}
dic4={}
for i in (dic1,dic2,dic3): 
  dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 30, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [38]:
# write your answer here

a=input("enter values using (,) : ")
check=input("enter the value to be checked : ")
b=tuple(a)

if check in b:
  print("element exists")
else:
  print("element doesn't exist")

enter values using (,) : 5,8,9
enter the value to be checked : 5
element exists

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [39]:
# write your answer here
set1={10,20,30,40}
print("minimum is : ", min(set1))
print("maximum is : ", max(set1))

minimum is :  10
maximum is :  40

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [40]:
# write your answer here
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

def list1(l):
  a=0
  for i in l:a=a+1
  return a
group=[]
while list1(student_list)>=5:
  random.shuffle(student_list)
  group.append(student_list[ :3])
  student_list.pop(0)
  student_list.pop(0)
  student_list.pop(0)
group.append(student_list)
print(group)

[['sg0940', 'at0768', 'dy0091'], ['snd0097', 'at0739', 'mv0299'], ['vl0135', 'tv0119', 'nm0547'], ['spk0057', 'yye0005', 'rak0120'], ['pc0353', 'rrk0058', 'rs0850'], ['vmb0067', 'msp0174', 'bk0301'], ['pn0159', 'ss1995', 'ds0761', 'dd0420']]